@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Teko:wght@400;600&display=swap');

* {
    margin:0;
    padding:0;
}

.body__principal {
    background-image:url(img/share-re.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family:'Teko', sans-serif; ;
    font-size:1.5em;
}

.body__secundario {
    background-image:url(img/resident-evil-4-remake-game-informer-9_0901015310.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family:'Teko', sans-serif; ;
    font-size:1.5em;
}

.cabecalho__menu {
    display:flex;
    gap:3em;
    list-style-type: none;
    margin-left:1em;
    margin-top:1em;
}

.principal__link {
    display:flex;
    justify-content: center;
    color:white;
    margin:22.7em 22em auto 22em;
    text-decoration: none;
    border:2px solid black;
    background-color: black;
    border-radius: 5px;
    padding: 1px 0;
}

.principal__link:hover {
    background-color:rgb(36, 35, 35);
    border-color:rgb(36, 35, 35);
}

.link__menu {
    text-decoration: none;
    color: white;
}

.secundario__titulo{
    display: grid;
    grid-template-columns: 30% 60%;
    margin-top:1.1em;
    font-weight: 600;
    font-size:3.5em;
    margin-left:2em;
    margin-bottom: 0.5em;
    font-family: 'EB Garamond', serif;
    font-weight: 500;
    filter: drop-shadow(5px 0 10px rgba(0, 0, 0, 0.8));
}

.secundario__texto {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left:5.5em;
    padding:0.3em;
    font-size:30px;
    font-family:'EB Garamond', serif;
    font-weight: 400;
}